body{
   background:url(../images/login_bg.png) no-repeat scroll center center;
}
.form-horizontal .form-control{
  box-shadow:none;
  border-radius:0;
  border:none;
  height:60px;
}
.form-horizontal .btn{
  border-radius:0;
}
.form-horizontal .btn-primary{
   background:#B89F7A;
   border:none;
   font-size:14px;
   padding:15px 0;
}