@charset "utf-8";

/*觅海头条*/
.viewport .mhimg{
	display: inline-block;
	width: 250px;
	overflow: hidden;
	float: left;
	margin-left: -19px;
}
.viewport .mhimg img{
	width: 100%;
	height: 100%;
}
.viewport .newslist{
	display: inline-block;
	width: 800px;	
	height: 100px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;		
	box-sizing: border-box;	
	overflow: hidden;
}
.swiper-slide{
	height: 30px;
}
.swiper-slide img{
	width: 25px;
	height:25px;
	border-radius: 50%;
	display: inline-block;
}
.swiper-slide a{
	display: inline-block;
	width: 80%;
	font-size: 16px;
	color: #333;
	font-family: PingFang Heavy;
	padding: 1px 0 1px 10px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.swiper-slide a:hover{
	text-decoration: underline;
}
.notemore{
	display: inline-block;
	float: left;
	width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: solid 1px #888;
    border-radius: 18px;  
    margin-top: 45px;  
 }
 .notemore a{
 	color: #888;
 }

/*晒物笔记*/
.viewport .noteimg{
	height: 80px;
	width: 100%;
	border-bottom: solid 1px #eee;		
}
.viewport .notelist{
	margin-top: 46px;
}
.viewport .notelist ul{
	width: 100%;
	overflow: hidden;	
	padding-right: 17px;
}
.viewport .notelist ul li{
	width: 276px;
	height: 446px;
	float: left;
	margin-left: 17px;	
	margin-bottom: 17px;
	position: relative;	
	border: solid 1px #eee;
}
.viewport .notelist ul li:last-child img{
	filter:alpha(opacity=20); /*IE滤镜，透明度50%*/
	-moz-opacity:0.2; /*Firefox私有，透明度50%*/
	opacity:0.2;/*其他，透明度50%*/	
}
.viewport .notelist ul li:last-child:hover img{
	opacity:0.4;
}
.viewport .notelist ul li .notepic{
	display: block;
	height: 280px;
	overflow: hidden;
}
.viewport .notelist ul li img{
	width: 100%;
}
.viewport .notelist ul li .noteinfo{
	padding: 20px 20px 0 20px;	
	height: 166px;
	box-sizing: border-box;
}
.viewport .notelist ul li .noteinfo p{
	font-family:PingFang Medium;
	font-size: 14px;
	color: #333;
	height: 60px;
	overflow: hidden;
}
.viewport .notelist ul li .noteinfo div{
	margin-top: 20px;
	line-height: 40px;
}
.viewport .notelist ul li .noteinfo div img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.viewport .notelist ul li .noteinfo div h3{
	font-size: 16px;
	color: #333;
	display: inline-block;
	font-family:PingFang Bold;
}
.viewport .notelist ul li .lookmore{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
.viewport .notelist ul li .lookmore div{	
	margin-top: 140px;
	width: 100px;
	margin-left: 88px;
	overflow: hidden;
}
.viewport .notelist ul li .lookmore div span{
	display:block;
	float: left;
	background: rgb(255,45,75);
	width: 10px;
	height: 10px;
	margin-left: 17px;
	border-radius: 50%;	
}
.viewport .notelist ul li .lookmore p{
	font-size: 16px;
	color: #333;
	width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
	border: solid 1px #888;
	border-radius: 18px;
	margin: 0 auto;
	margin-top: 170px;
	cursor: pointer;
}
