@CHARSET "UTF-8";

.acticle-infor {
	border-left: 1px solid #f2f2f2;
}

.acticle-infor th {
	background: #f2f2f2;
	font-weight: bold;
	padding: 10px 0px;
	text-align: center;
	border-right: 1px solid #f2f2f2;
	text-align: center;
}

.acticle-infor td {
	word-break: break-all;
	padding: 10px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
}