

.box{width:100%;}
.left-pro{width:100%; text-align:left;float:left}
.left-pro .t1{width:100%;float:left;margin-top:10px;}
.left-pro .t2{width:100%;text-indent:0;float:left;}
.left-pro .t2 img{text-indent:0;}
#showArea img{cursor:pointer;display:block;height:52px;width:52px;margin-right:5px;margin-bottom:5px;padding:1px;border:1px solid #ccc;float:left}
#main_img{cursor:pointer;display:block}
#gotop{cursor:pointer;display:block;float:left;}
#gobottom{cursor:pointer;display:block;float:left;}
#showArea{width:368px;height:58px;overflow:hidden;float:left;margin:10px;}
