.top_header{
	background-color: #fff;
	color: #333;
}
.coupons-list{
	width: 92%;
	margin:0 auto;
	margin-top: 10px;
}
.coupons-list li{
	position:relative;
	background-color: #fff;
	border-radius: 5px;
	height: 80px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}
.coupons-price{
	float: left;
	width: 28%;
	line-height: 80px;
    text-align: center;
    color: #FF2D4B;
}
.coupons-div{
	float: left;
	width: 40%;
	margin-top: 17px;
}
.coupons-btn{
	position: relative;
	float: left;
	width: 32%;
    height: 100%;
    border-left: 1px dotted #e0e0e0;
    box-sizing: border-box;
    z-index: 1;
}
.circle-top{
	position: absolute;
	top: -5px;
	left:-6px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
    border: 1px solid #f4f4f4;
    z-index: 2;
    background-color: #f4f4f4;
}
.circle-bottom{
	position: absolute;
	bottom: -5px;
	left:-6px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border:1px solid #f4f4f4;
	z-index: 2;
    background-color: #f4f4f4;
}
.coupons_btn{
	background: #FF2D4B;
	box-shadow: 0 2px 4px 0 #FF2D4B;
	border-radius: 43px;
	color: #fff;
	width: 80%;
	margin:0 auto;
	text-align: center;
    line-height: 24px;
    margin-top: 28px;
}
.coupons-price-number{
	font-size: 37px;
}
.coupons-title{
	color: #666666;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coupons-detail{
	color: #999;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.no-bonus{
	width: 70%;
	margin:0 auto;
	text-align: center;
	margin-top: 50px;
}
.no-bonus img{
	width: 100%;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
}