@charset "utf-8";
*{margin:0;padding:0}
body{max-width:640px;margin:0 auto;background:#c7221e;}

/*头部*/
.exclusive_code_top img{width: 100%;display: block;}
/*中间*/
.exclusive_code_center img{width: 100%;display: block;}
.box{margin: 0 20px;background:#fde7e6;text-align: center;padding-bottom: 30px;position: relative;}
.box img{width: 100%;margin-bottom: 10px;}
.box p{color: #5A87BF;font-size:1em;}
.box p span{color: #f85f42;}
.box p span:nth-child(2){font-size: 26px;font-weight: bold;}
.box div{margin-top: 10px;}
.box div input{
	border-radius: 50px;
	border: none;
	outline: none;
	width: 75%;
	text-align: center;
	line-height:2.5;
	margin-top: 10px;
	font-size: 1.14em;
	/*清除IOS下input框的默认样式*/
	-webkit-appearance: none; 
}
.box div #btn{
	background: #ff2d4b;
	box-shadow: 0 5px 5px #ff2d4b;
	color: #fff;
}
.box .gap{
	background: #c7221e;
	border-radius: 50%;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
}
.box .left_gap{left:-10px;}
.box .right_gap{right: -10px;}
/*toget页面的box*/
.box .amount{
	color: #F85F42;
	font-size: 36px;
	font-weight: bold;
}
.box .amount span{font-size: 12px;font-weight: normal}
/*规则*/
.rule{width: 100%;padding:0 20px 20px 20px;box-sizing:border-box;margin-top: 20px;}
.rule .title{color:#EBD6D7;position: relative;height: 25px;line-height: 25px;overflow: hidden;}
.rule .title span{background: #c7221e;display: inline-block;padding: 0 10px;height: 20px;position:absolute;left: 50%;top:0px;margin-left: -42px;z-index: 2;font-size:16px;}
.rule .title .line{height: 1px;background:#EBD6D7;position: absolute;left:50%;top: 50%;width: 130px;margin-left: -65px;}
.rule .content{color:#EBD6D7;margin-top: 10px;}
.rule .content p{font-size:1em;line-height: 1.5em;}
.rule .content p a{color: #fff;text-decoration: none;}
/*弹出框*/
.share-wrap{
	position: relative;
	width: 100%;
}
.share-wrap img{
	width: 100%;
	max-width: 100%;
	display: block;
}

.share-free-modal{
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0;
}
.share-free-modal .rule-div{
    position: absolute;
    color: #999;
    width: 300px;
    /*height: 354px;*/
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    padding-bottom: 15px;
    margin: -177px 0 0 -150px;
}
.share-free-modal .rule-div ul{
	padding: 20px;
}
.share-free-modal .rule-div .rule-div-img{
	position: absolute;
    top: -25px;
    width: 50px;
    left: 125px;
}
.share-free-modal .rule-div-div{
	text-align: center;
    margin-top: 39px;
    position: relative;
}
.share-free-modal .rule-line{
    position: absolute;
    top: 10px;
    width: 230px;
    height: 1px;
    background-color: #f2f2f2;
    left: 50px;
}
.rule-div-title{
	position: relative;
	width: 100px;
	margin:0 auto;
	background: #fff;
    z-index: 3;
}
.share-free-modal .rule-div{
	width: 300px;
	margin: -202px 0 0 -148px;
}
/*.share-free-modal .rule-div .rule-div-img{
	left: 115px;
}*/
.share-free-modal .rule-div-title{
	width: 130px;
}
.share-free-modal .rule-line{
	left: 25px;
}
.share-free-modal-price{
	padding: 15px;
	position: relative;
}
.share-free-price{
	position: absolute;
    top: 69px;
    left: 112px;
    width: 76px;
    text-align: center;
}
.share-free-price-1 .free-price{
	color: #fff;
	font-size: 20px;
}
.share-free-price-1 span{
	color: #fff;
	font-size: 12px;
}
.share-free-price-2{
	color: #ED8825;
	font-size: 14px;
	font-weight: bolder;
}
.share-free-sure img{
	width: 170px;
	margin:0 auto;
}
.share-free-sure{
	position: relative;
}
.free-sure-btn{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
}
.exclusive_division{
	margin: 20px 20px 15px 20px;
	background: url(../images/miandan_repeat_01.png) repeat;
	height: 1px;
}
.exclusive_division img{
	width: 100%;
	max-width: 100%;
	display: block;
}
.enterbrand ul li {
    width: 28%;
    float: left;
    list-style: none;
    text-align: center;
    margin: 3% 0 3% 4%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
}
.enterbrand ul li img{
    width: 100%;
	max-width: 100%;
	display: block;
	border-radius: 4px;
}
.swiper-container{
	margin: 15px 20px 20px 20px;
	background-color: #fde7e7;
}
.swiper-slide-title,.swiper-slide-jifen{
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	margin-top: 5px;
}
.swiper-slide-title{
	color: #000;
}
.swiper-slide-jifen{
	color: #ff2c4a;
}
.exclusive_left{
	position: absolute;
	top: 50%;
	left: 8px;
	margin-top: -12.5px;
	z-index: 999;
}
.exclusive_right{
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -12.5px;
	z-index: 999;
}
@media screen and (max-width:980px){body{font-size:20px;}}
@media screen and (max-width:580px){body{font-size:18px;}}
@media screen and (max-width:420px){body{font-size:16px;}}
@media screen and (max-width:380px){body{font-size:14px;}}
@media screen and (max-width:320px){body{font-size:12px;}}