/* a,a:visited{
	text-decoration:none;
	color:#333
}
.wx_nav,.WX_tab_inner,.wx_referrer{
	display:box;
	display:-ms-box;
	display:-webkit-box;
	display:flex;
	display:-ms-flexbox;
	display:-webkit-flex
}
.wx_nav a,.WX_tab_inner a,.wx_referrer a{
	display:block;
	flex:1;
	-ms-flex:1;
	-webkit-flex:1;
	box-flex:1;
	-ms-box-flex:1;
	-webkit-box-flex:1
}
.WX_bar:after{
	clear:both;
	content:'\20';
	display:block
}
.WX_search_txt,.hd_search_txt{
	background-image:url(../images/icon_ss.png)
}
.WX_msg_bar .msg_order:after{
	display:block;
	content:'\20';
	position:absolute;
	top:50%;
	width:12px;
	height:12px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	background:none
}
.WX_msg_bar .msg_order:after{
	margin-top:-6px;
	-webkit-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg)
}
.wx_nav a:before,.WX_backtop:after,.wx_aside .btn_more:after,.wx_aside .btn_top:after{
	background-image:url(../images/icon_nav_v2.png);
	background-repeat:no-repeat;
	background-size:207px 46px;
	-webkit-background-size:207px 46px
}
.wx_nav{
	overflow:hidden;
	height:49px;
	position:fixed;
	z-index:900;
	width:100%;
	bottom:0;
	left:0;
}
.wx_nav a{
	width:200px;
	height:49px;
	padding-top:4px;
	color:#333!important;
	font-size:12px;
	filter:alpha(opacity=50); 
    background: #fafafa!important;
	text-align:center
}
.wx_nav a:before{
	width:23px;
	height:23px;
	content:'\20';
	display:block;
	margin:0 auto 2px auto
}
.wx_nav a:active{
	background-color:#FFF
}
.wx_nav a:active,.wx_nav a.on{
	color:#FFF
}
.wx_nav a:active:before,.wx_nav a.on:before{
	background-position-y:-23px
}
.wx_nav a.dot{
	position:relative
}
.wx_nav a.dot:after{
	content:'';
	display:inline-block;
	width:7px;
	height:7px;
	background:#e4393c;
	border-radius:4px;
	position:absolute;
	top:5px;
	left:50%;
	margin-left:10px
}
.wx_nav .nav_index:before{
	background-position:0 0
}
.wx_nav .nav_search:before{
	background-position:-46px 0
}
.wx_nav .nav_fav:before{
	background-position:-23px 0
}
.wx_nav .nav_shopcart:before{
	background-position:-138px 0
}
.wx_nav .nav_me:before{
	background-position:-69px 0
}
.nav_me1:before{
	background-position:-69px 0
}
.wx_nav .nav_newsfeed:before{
	background-position:-161px 0
}
.wx_nav .nav_shopping_guide:before{
	background-position:-184px 0
} */
.foot_fix_top{
	position: fixed;
	bottom: 56px;
	right: 8px;
	width: 35px;
	height: 35px;
	z-index: 20;
	display: none;
}

.m-tabBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.30667rem;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
}
.m-tabBar>.item {
    position: relative;
    text-align: center;
}
.m-tabBar .u-icon-tabBar-index {
    background-position: 0 -3.33333rem;
}
.m-tabBar>.item .txt {
    display: block;
    margin-top: .09333rem;
    font-size: .32rem;
    color: #666;
    line-height: 1;
}
.m-tabBar .tab_active .u-icon-tabBar-cart, .m-tabBar .tab_active .u-icon-tabBar-cate, .m-tabBar .tab_active .u-icon-tabBar-topic, .m-tabBar .tab_active .u-icon-tabBar-ucenter, .m-tabBar .u-icon-tabBar-cart, .m-tabBar .u-icon-tabBar-cart-active, .m-tabBar .u-icon-tabBar-cate, .m-tabBar .u-icon-tabBar-cate-active, .m-tabBar .u-icon-tabBar-index, .m-tabBar .u-icon-tabBar-topic, .m-tabBar .u-icon-tabBar-topic-active, .m-tabBar .u-icon-tabBar-ucenter, .m-tabBar .u-icon-tabBar-ucenter-active{
	display: inline-block;
    background-image: url(../images/footer_icon.png);
    background-size: .53333rem 6.53333rem;
    width: .53333rem;
    height: .53333rem;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.m-tabBar .u-icon-tabBar-cate {
    background-position: 0 -2rem;
}
.m-tabBar .u-icon-tabBar-ucenter {
    background-position: 0 -6rem;
}
.m-tabBar .u-icon-tabBar-cart {
    background-position: 0 -.66667rem;
}
.m-tabBar .u-icon-tabBar-topic {
    background-position: 0 -4.66667rem;
}
.m-tabBar .tab_active .u-icon-tabBar-index, .m-tabBar .u-icon-tabBar-index-active {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/footer_icon.png);
    background-repeat: no-repeat;
    background-size: .53333rem 6.53333rem;
    width: .53333rem;
    height: .53333rem;
    background-position: 0 -2.66667rem;
}
.m-tabBar>.item.tab_active .txt {
    color: #b4282d;
}
.m-tabBar .tab_active .u-icon-tabBar-topic, .m-tabBar .u-icon-tabBar-topic-active {
    background-position: 0 -4rem;
}
.m-tabBar .tab_active .u-icon-tabBar-cate, .m-tabBar .u-icon-tabBar-cate-active {
    background-position: 0 -1.33333rem;
}
.m-tabBar .tab_active .u-icon-tabBar-cart, .m-tabBar .u-icon-tabBar-cart-active {
    background-position: 0 0;
}