*{
    margin: 0;
    padding: 0;
}
/*mobile 1px处理*/
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
.good-content {
    border: none;
    background-image: -webkit-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-image: -moz-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-image: -o-linear-gradient(90deg,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-image: linear-gradient(0,#e0e0e0,#e0e0e0 50%,transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom
    }
}
.header_right{
    float: right;
    margin-right: 3%;
}
body{
    max-width: 750px;
    margin:0 auto;
    background-color: #f8f8f8;
}
ul{
    list-style: none;
}
.content{
    width: 100%;
}
.cont-1{
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
}
.con-left{
    float: left;
    width: 26%;
}
.con-left img{
    max-width: 100%;
}
.con-right{
    float: left;
    width: 74%;
}
.product-title{
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    min-height: 32px;
    overflow: hidden;
}
.product-price{
    line-height: 3em;
    padding-top: 4%;
    font-size: 12px;
}
.product-price img{
    float: right;
    width: 24%;
}
.product-price .price{
    color: #f43776;
    font-size: 15px;
}
.cont-2{
    background-color: #f8f8f8;
}
.cont-2 .small-title{
    text-align: center;
    color: #333;
    padding-top:5%; 
}
.head-photo-list{
    width: 90%;
    margin:0 auto; 
    overflow: auto;
    padding-top: 5%;
}
.head-photo-list ul{
    list-style: none;
}
.head-photo-list li{
    position: relative;
    float: left;
    width: 15%;
    border-radius: 50%;
    margin: 2.5%;
    box-sizing: border-box;
}
.head-man{
    bottom: 0;
    position: absolute;
    width: 30px;
    height: 15px;
    text-align: center;
    border-radius: 25px;
    font-size: 12px;
    color: #fff;
    background-color: #f43776;
    left: 47%;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.head-photo-list li img{
    width: 100%;
    border-radius: 50%;
}
.cont-2-detail{
    color: #333;
    text-align: center;
    padding-top: 5%;
}
.cont-2-detail span{
    color: #f43776;
}
.groupon-list-time{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    height: 30px;
    line-height: 30px;    
}
.djs{
    background-color: #e3e3e6;
    color:#717171;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
}
.djs span{
    color: #fff;
    background-color: #404040;
    width: 25px;
    line-height: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 4px;
    margin: 0 1px;
    font-size: 15px;
}
.list-time-left{
    position: absolute;
    width: 20%;
    top: 16px;
    left: 0;
    height: 1px;
    background-color: #e0e0e0;
}
.list-time-right{
    position: absolute;
    width: 20%;
    top: 16px;
    right: 0;
    height: 1px;
    background-color: #e0e0e0;
}
.look-detail p{
    padding-top: 5%;
    text-align: center;
    color: #333333;
    font-size: 13px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f43776;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
footer a{
    color: #fff;
    font-size: 16px;
}
.look-detail{
    font-size: 16px;
}
.triangle-up {   
    width:0;
    display: inline-block;
    height:0;   
    border-left:6px solid transparent;   
    border-right:6px solid transparent;   
    border-bottom:6px solid #333333;
}
.triangle-up2 {   
    width:0;
    display: inline-block;
    height:0;   
    border-left:8px solid transparent;   
    border-right:8px solid transparent;   
    border-bottom:8px solid #333333;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}
.triangle-down{   
    width:0;
    display: inline-block;
    height:0;   
    border-left:10px solid transparent;   
    border-right:10px solid transparent;   
    border-top:10px solid #333333;
}
.look-detail-list{
    margin-bottom: 50px;
}
.look-detail-list li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}
.look-detail-list li:first-child{
    background-color: #404040;
    color: #fff;
}
.look-detail-list .fl{
    float: left;
    font-size: 12px;
}
.look-detail-list .img{
    width: 16%;
    box-sizing: border-box;
    text-align: center;
}
.look-detail-list .img img{
    width: 100%;
    max-width: 30px;
    border-radius: 50%;
    margin-top: -2px;
    vertical-align: middle;
}
.look-detail-list .name{
    width: 34%;
}
.look-detail-list .time{
    width: 50%;
}
.look-detail-list .line{
    position: relative;
    height: 19px;
    background-color: #f8f8f8;
}
.look-detail-list .line div{
    position: absolute;
    left: 8%;
    width: 1px;
    height: 19px;
    background-color: #d2d3d9;
}