.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}
.header{
    background: #66CCFF;
    padding-bottom:15px;
    color: #ffffff;
}

.header .notice{
    font-size:22px;
    margin: 0px 0px 25px 0px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mt_5{
    margin-top:5px;
}
.mt_10{
    margin-top:10px;
}
.mt_15{
    margin-top: 15px;
}
.mb_5{
    margin-bottom:5px;
}
.mb_10{
    margin-bottom: 10px;
}
.mb_15{
    margin-bottom: 15px;
}
.mt_20{
    margin-top: 20px;
}
.pd_15{
    padding-top:15px;
}
.t-center{
    text-align: center
}
.tongji{
    margin-left:15px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.shopinfo .logo img{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.shopinfo p.name{
    font-size:12px;
    margin-bottom: 3px;
}

.search{
    padding: 15px 0px;
    background: #EEEEEE;
}
.search .input{
    width: 70%;
}
.cat{
    float: right;
    margin-top: 5px;
}
.cat .zi{
    font-size:8px;
}
.cat .glyphicon-list{
    margin-left:2px;
    font-size:18px;
}
.cat span{
    display: block;
    color: #6F6F6F;
}
.search .input-group input{
    color: #6F6F6F;
}
.daixiao{
    border-bottom: 1px solid #FCFBFB;
}
.daixiao ul{
    background: url("../images/daixiao.png") no-repeat;
    padding-left: 70px;
    width: 100%
}
.daixiao span{
    color: #F96551;
}
.daixiao ul li{
    list-style: decimal;
    color: #989898;
    font-size:12px;
}
.addshop .add{
    margin-right: auto;
    margin-left:auto;
    padding: 10px 0px;
    width: 100px;
    padding-left: 30px;
    background: url("../images/addshop.png") no-repeat 0px 15px;
    background-size: 26px 26px;
    height: 54px;
    line-height:36px;
    color: #F6588C;
    font-weight: bolder;
    border-bottom: 1px solid #FCFBFB;
}
.addshop .add>a {
    color: #F6588C;
}
.mange img{
    width: 35px;
    height: 35px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 4px;
}
.mange a{
    text-decoration: none;
    color: #BABABA;
}
.mange a:hover{
    font-weight: bolder;
}
.foot_box{
    position:fixed;
    bottom:0;
    width: 100%;
    z-index:11 ;
}
.foot_box .foot{
    padding-bottom: 5px;
    height:40px;
    background: #ffffff;
}
.categroy{
    height: 45px;
    width: 100%;
    line-height: 45px;
    border-bottom: 1px solid #e3e3e3;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #ffffff;
    opacity: 0.9;
    filter:alpha(opacity=0.9);
    z-index: 11;
}
.categroy .show_title{
    text-align: center;
    font-size: 14px;
}
.categroy a.return{
    font-size: 17px;
    color: #e3e3e3;
}
.show_categroy .title{
    font-size: 14px;
    font-weight: bolder;
}
.show_categroy .more{
    text-align: right;
}
.show_categroy .more>a{
    color:#C9C9C9;
}
.show_categroy .categroy_info a{
    color:#000000;
}
.show_categroy .categroy_info td{
    text-align: center;
    width: 50%;
}
.catelist{
    height: 60px;
    width: 100%;
    line-height: 52px;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 10px;
}
.catelist .return{
    color: #e3e3e3;
    height: 57px;
    width: 25px;
    display: inline-block;
}
.catelist a{
    color: #000000;
}
.catelist .showNav{
    min-width: 59px;
}
.noborder {
    border: none;
}
.clickorder{
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    height: 35px;
}
.clickorder>div{
    padding-left: 10px;
    padding-right:10px;
    text-align: center;
}
.clickorder .showNav{
    min-width: 88px;
}
.clickorder .order_yongjin,.clickorder .order_jiage{
    height:25px;
    line-height:25px;
}

.clickorder a{
    display: block;
    position: relative;
    color: #000000;
}
.clickorder a>i{
    width: 17px;
    height: 23px;
    position: absolute;
    top: 4px;
    background: url('../images/arrow.png') no-repeat -41px 0px;
}
.clickorder .desc i{
    width: 15px;
    height: 23px;
    position: absolute;
    top: 7px;
    background: url('../images/arrow.png') no-repeat -22px -3px;
}
.clickorder .asc i{
    width: 15px;
    height: 18px;
    position: absolute;
    top: 7px;
    background: url('../images/arrow.png') no-repeat -5px -3px;
}
.pos_center{
    margin-left: 30%;
}
.both_boder{
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
.shoplist .pic img{
    height: 140px;
}
.shoplist .good{
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-bottom: 10px;
}
.clickorder .nav{
    margin-bottom: 5px;
    position: relative;
    top: -6px;
    left: 10px;
}
.clickorder .active{
    background: #EAEAEA;
    border-radius: 2px;
}

.shoplist .descript p{
    padding: 0px 12px;
    margin: 0px;
}
.shoplist .descript .title,.shoplist .descript .desc{
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shoplist .descript .title a{
    color: #000000;
}
.shoplist .descript .desc{
    color: #ACACAC;
    font-size:12px;
}
.shoplist .descript .yongjin{
    color: red;
}
.shoplist .descript .money{
    margin-bottom: 5px;
}
.shoplist .descript .salenum{
    color: #ACACAC;
}
.ontop{
    height: 33px;
    line-height: 33px;
    border-bottom:1px solid #E6E6E6;
    position: fixed;
    top:0px;
    background: #ffffff;
    width: 100%;
    z-index:90;
    opacity: 0.9;
    filter:alpha(opacity=0.9);
    z-index: 11;
}
.ontop img{
   vertical-align: middle;
}
.ontop a{
    color: #696969;
}
.shophome{
    margin-top:34px;
}
.shoppic{
    width: 100%;
    height: 150px;
}
.shoppic img{
    width: 100%;
    height: 150px;
}
.shophome .shoplogo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right:10px;
}
.shophome .shopdesc{
    height: 40px;
    position: relative;
}
.shophome .shopdesc .shoplogo{
    position: absolute;
    top: -42px;
    padding:0px 15px;
    width: 100%;
}
.shophome .shopdesc .shoplogo .name p{
    margin-top: 13px;
    margin-bottom:0px;
    color: #ffffff;
}
.shophome_list{
    border-top: 10px solid #e3e3e3;
}
.shophome_list>.title{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bolder;
    text-align:center;
    border-top:1px solid #B4B4B4;
}
.clean{
    clear: both;
}
.shophome .shop_tongji{
    height:35px;
    border-bottom:1px solid #B4B4B4;
}
.shophome .shop_tongji .area{
    font-size:12px;
    line-height:30px;
}
.shophome .shop_tongji .all_tongji{
    text-align: center;
    width: 55px;
    margin-left: 20px;
}
.shophome .shop_tongji .all_tongji p{
    margin:0px;
}
.shophome .shop_tongji .all_tongji span{
    font-size:10px;
    display: block;
    line-height: 14px;
    height:14px;
}
.shopmange_top{
    height: 160px;
    background: -webkit-linear-gradient(#DB7129, orangered); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#DB7129, orangered); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#DB7129, orangered); /* Firefox 3.6 - 15 */
    background: linear-gradient(#DB7129, orangered); /* 标准的语法（必须放在最后） */
}
.shopmange_top .return{
    color: #e3e3e3;
    text-decoration: none;
    height: 55px;
    line-height: 55px;
}
.shopmange_top .logo{
    margin-left: 30px;
    width: 60px;
    height: 60px;
}
.shopmange_top .logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.shopmange_top .desc{
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    font-weight:bold;
}
.shopmange_top .input-group .form-control{
    z-index: 0;
}
.shopmange_act{
    margin-top:5px;
    padding: 15px 0px;
    height:80px;
    text-align: center;
    background: #ffffff;
}
.shopmange_act>div{
    width: 25%;
    height:30px;
    float: left;
    color: #FC6C49;
}
.shopmange_act a{
    color: #FC6C49;
}
.shopmange_act img{
    display: block;
    border: none;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 6px;
}
.shopmange_list .sele_ct{
    padding: 10px 0px 0px 0px;
    height:50px;
    border-bottom:1px solid #F5F5F5;
}
.shopmange_list .dropdown-menu{
    left: 5px;
    min-width: 81px;
}
.shopmange_list .btn{
    background: none;
    color: #FC6C49;
}
.shopmange_list .btn .caret{
    color:#FC6C49;
}
.shopmange_list .content{
    padding: 10px;
    overflow: hidden;
    background: #ffffff;
}
.shopmange_list .content .pic{
    float: left;
    width: 30%;
    height: 100px;
}
.shopmange_list .content .pic img{
    width: 100px;
    height: 100px;
    border: none;
}
.shopmange_list .content .desc{
    float: left;
    width: 70%;
}
.shopmange_list .content .desc p{
    margin-bottom:3px;
}
.shopmange_list .content .yongjin{
    font-size:12px;
    color: #8C8C8C;
}
.shopmange_list .content .yongjin_m{
    color: #FC6C49;
}
.foot_tag{
    position: fixed;
    bottom: 5px;
    left: 2px;
    background: #000000;
    opacity: 0.7; filter:alpha(opacity=0.7);
    color: #ffffff;
    line-height: 20px;
    padding: 10px 4px;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.foot_tag a{
    color: #ffffff;
}
.act_good{
    height: 100px;
    padding-top:15px;
}
.act_good>div{
    width: 25%;
    text-align: center;
    float: left;
}
.act_good img{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    display: block;
}
.act_good a{
    color: #0a0a0a;
}
.xieyi{
    padding: 0 10px;
    line-height:25px;
    font-size:14px;
}
.sure_open{
    margin-top: 45px;
}
.add_good_search{
    margin-top:13px;
}
.catelist .nav>li>a{
    padding: 10px 8px;
}
.catelist>div{
    height:60px;
    line-height:60px;
    display: inline-block;
}
.dropdown-menu>li>a{
    padding: 3px 8px;
    text-align: center;
}
.clickorder .nav>li>a{
    padding: 7px 10px;
}
.clickorder .nav>li>a.active{
    background: #eee;
}
.shoplist .pl_5{
    padding-left: 5px;
}
.shoplist .pr_5{
    padding-right: 5px;
}
.no_data{
    text-align: center;
    color: #CECECE;
    margin-top: 20px;
}
.no_data img{
    display: block;
    margin-bottom: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.filter .change_bj{
    background: #FCFCFC;
}
.filter .change_bj li{
    background: #ffffff;
    margin-top:15px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}
.click_sharejs,.click_cat{
    display: none;
}
.click_sharejs{
    text-align: left;
}
.social-share .social-share-icon{
    width:50px;
    height: 50px;
    line-height:46px;
    font-size:34px;
}
.social-share a{
    margin: 10px 15px;
}
.social-share .icon-wechat .wechat-qrcode .qrcode{
    width: 140px;
    height: 140px;
}
.social-share .icon-wechat .wechat-qrcode .qrcode img{
    width: 140px;
    height: 140px;
}
.social-share .icon-wechat .wechat-qrcode{
    height: 229px;
}
.os_box_list .txt{
    height:22px;
    padding: 0px 10px;
}
.cate_fixtop{
    position: fixed;
    width: 100%;
    height: 105px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    z-index: 11;
}
#myModal{
    margin-top:30%;
}
#poptip {
    position: fixed;
    top:40%;
    left:50%;
    width:160px;
    margin-left:-80px;
    height: 33px;
    background:#000;
    opacity: 0.7;
    filter:alpha(opacity=0.7);
    color:#fff;
    z-index: 99999999;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 2.2);
}
#poptip_content {
    position: fixed;
    top:40%;
    left:50%;
    width:160px;
    margin-left:-80px;
    height: 33px;
    color:#fff;
    text-align:center;
    font-size:14px;
    z-index: 999999999;
    line-height:33px;
}
.openshop_set{
    overflow: hidden;
    margin-bottom:20px;
}
.openshop_set>div{
    padding: 10px 15px;
    overflow: hidden;
    border-bottom:1px solid #F2F2F2;
}
.openshop_set>div .tit{
    color: #525252;
    font-weight:bolder;
    float: left;
}
.openshop_set>div .show{
    float: right;
    overflow: hidden;
}
.openshop_set>div .face{
    width: 50px;
    height: 50px;
}
.openshop_set>div .face img{
    width: 50px;
    height: 50px;
}
.openshop_set .form-group{
    margin-bottom:0px;
}
.openshop_main1 .openshop_set_foot{
    background: #FD5D3D;
    height: 50px;
    line-height:38px;
    padding: 6px 0px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.openshop_main1 .openshop_set_foot>div{
    height:37px;
    text-align: center;
    float: left;
    width: 32%;
    cursor: pointer;
}
.openshop_main1 .openshop_set_foot>div img{
    height: 30px;
}
.openshop_main2 .openshop_set_foot{
    width: 98%;
    position: fixed;
    bottom: 0px;
    left: 1%;
    height: 45px;
    line-height:45px;
    font-size:16px;
    text-align: center;
    font-weight:bold;
}