*{
	margin: 0;
	padding: 0;
}
body,html{
	background-color: #fff;
}
.last-wrap{
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
	//margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.last-wrap-list li{
	list-style-type: none;
	float: left;
	width: 47%;
	border: 1px solid #E3E3E3;
    box-sizing: border-box;
    margin-top: 10px;
    padding:0 3px 10px 3px;
    background-color: #fff;
    position: relative;
}
.last-wrap-list li img{
	width: 100%;
	display: block;
	max-width: 100%;
	padding: 5%;
    box-sizing: border-box;
}
.last-wrap .small-title{
    overflow: hidden;
    padding: 0 2.5%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
}
.last-wrap-list li:nth-child(odd){
	margin-left: 2%;
	margin-right: 1%;
}
.last-wrap-list li:nth-child(even){
	margin-left: 1%;
	margin-right: 2%;
}
.last-wrap .number{
	width: 95%;
	margin:0 auto;
	padding: 5px 0;
}
.last-wrap .play-now{
    float: left;
    width: 59%;
    margin: 0 auto;
    background: #ff4400;
    color: #fff;
    text-align: center;
    border-radius: 3px 0 0 3px;
    height: 27px;
    line-height: 27px;
}

.last-wrap .love img{
	float: left;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0;
    margin-top: 3px;
    margin-left: 10px;
    margin-right:5px;
}
.number .now-number{
	color: #ff4400;
}
.record-modal .record-number{
	color: #000;
    font-weight: bold;
}
.wx_nav .nav_share::before{
	background:url(../images/nav_share.png);
	background-size: 100%;
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
    margin-top: 4px;
}
.wx_nav .nav_activity::before{
	background:url(../images/nav_activity.png);
	background-size: 100%;
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
    margin-top: 4px;
}
.activity-rule .title{
	text-align: center;
    font-weight: bold;
    margin: 8px 0;
    font-size: 16px;
}
.activity-rule li{
	margin-bottom: 10px;
}
.activity-play-now{
	background-color: #ff3f26;
	margin: 0 auto;
	color: #fff;
	border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}
.activity-play-now a{
	color: #fff;
}
.activity{
	width: 90%;
	margin: 0 auto;
}
.activity-content{
	margin: 15px 0;
}
.footer_nav{
	position: fixed;
	bottom: 0;
	height: 50px;
    width: 100%;
    color: #fff;
    background: rgb(245, 35, 64) none repeat scroll 0 0 !important
}
.footer_nav a{
	width: 25%;
	float: left;
	color: #fff;
	text-align: center;
}
.footer_nav .nav_index:before{
	background: url(../images/nav_bg.png);
	width: 23px;
    height: 23px;
    content: '\20';
    display: block;
    margin: 0 auto 2px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 3px 7px;
}
.footer_nav .nav_activity:before{
	background: url(../images/nav_bg.png);
    width: 23px;
    height: 23px;
    content: '\20';
    display: block;
    margin: 0 auto 2px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -37px 7px;
}
.footer_nav .nav_share:before{
	background: url(../images/nav_bg.png);
	width: 23px;
    height: 23px;
    content: '\20';
    display: block;
    margin: 0 auto 2px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:-17px 5px;
}
.footer_nav .nav_me:before{
	background: url(../images/nav_bg.png);
	width: 23px;
    height: 23px;
    content: '\20';
    display: block;
    margin: 0 auto 2px auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -61px 7px;
}
.user-title{
	text-align: center;
    font-weight: bold;
    margin: 8px 0;
    font-size: 16px;
}
.user-list-left{

}
.user-list-left img{
	width: 100%;
	border-radius: 35px;
	display: block;
}
.user-list-right{
	float: left;
	max-width: 80%;
	line-height: 35px;
    padding-left: 8px;
    overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.activity .user-list li{
	width: 20%;
	float: left;
	padding: 5px;
	box-sizing: border-box;
}
.activity .user-list li img{
	width: 100%;
	max-width: 100%;
	display: block;
	border-radius: 5px;
}
@media (max-width: 375px){
    .total-number-div{
        position: absolute;
        top: 9%;
        left: 21%;
        color: #fff;
        width: 69%;
    }
}
@media (min-width: 376px) {
    .total-number-div{
        position: absolute;
        top: 12%;
        left: 21%;
        color: #fff;
        width: 69%;
    }
}

.last-wrap .total-number-list li{
	float: left;
	width: 10px;
	margin: 0;
	padding: 0;
	height: 10px;
}
.last-wrap .fl{
	float: left;
}
.is-the-lottery{
	width: 96%;
	margin: 0 auto;
	background-color: #fff;
}
.is-the-lottery h3{
	line-height: 35px;
	height: 35px;
	text-align: center;
    font-size: 20px;
}
.is-the-lottery-list{
	width: 96%;
	margin: 0 auto;
}
.is-the-lottery-list li{
	float: left;
	width: 16.666%;
	padding: 5px;
    box-sizing: border-box;
    margin: 5px 0;
}
.is-the-lottery-list li img{
	width: 100%;
	display: block;
	max-width: 100%;
	border-radius: 50%;
}
.last-wrap-list .wait{
	background: #929292;
	width: 100%;
    border-radius: 3px;
}
.last-wrap .love{
    float: right;
    width: 41%;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    height: 27px;
    line-height: 27px;
    border-radius: 0 3px 3px 0;
}
.play-btn-div{
    width: 96%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}
.banner{
	position: relative;
}
.banner img{
	width: 100%;
	max-width: 100%;
	display: block;
}
.user-list-name{
	text-align: center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.add-more{
	text-align: center;
}
.active-fixed-btn img{
	width: 16px;
}
.active-fixed-btn{
	position: fixed;
	width: 66px;
    top: 26px;
    right: 0px;
    background-color: rgba(255,255,255,1);
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 30px 0 0 30px;
    z-index: 2;
    border: 1px solid #e0e0e0;
    border-right:none;
}
.active-num-btn{
	position: fixed;
    top: 58px;
    width: 66px;
    right: 0px;
    background-color: rgba(255,255,255,1);
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 30px 0 0 30px;
    z-index: 2;
    border: 1px solid #e0e0e0;
    border-right:none;
}
.active-num-btn img{
	width: 16px;vertical-align: middle;margin-top: -1px;
}
.banquan{
	text-align: center;
	padding: 10px;
}
.desc-more{
	text-align: center;
}
.last-wrap-list .progress .active{
	margin: 0;
    background-color: #ff4400;
}
.banner-product-list{
    position: absolute;
    top:11.5%;
    left: 5%;
    width: 90%;
}
.banner-product-list img{
	width: 100%;
	display: block;
	max-width: 100%;
}
.banner-product-list li{
    float: left;
    width: 16%;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-right: .6%;
    position: relative;
}
.total_num{
    width: 100%;
    margin: 0 auto;
    clear: both;
    height: 65px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.total_num  .num_list{
	vertical-align: middle;
    overflow: hidden;
    width: 100%;
}
.total_num .per_num{
    float: left;
    font-size: 18px;
    padding: 0 3px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    overflow: hidden;
    margin-right: 3px;
    color: #fff;
    background-color: #e8523b;
}
.soon-enter{
    text-align: center;    
    margin: 25px 0 10px 2.5%;    
    border: 1px solid #f40;    
    width: 95%;    
    background-color: #f40;    
    color: #fff;    
    padding: 5px;
    border-radius: 5px;    
    box-sizing: border-box;
}
.not-start{
    text-align: center;     
    color: #fff;    
    font-size: 16px;
    position: relative;
    margin-top: 10px;
}
.coupon_title{
    position: absolute;
    top: 4%;
    color: #e60012;
    text-align: center;
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
}
.not-start img{
    width: 100%;
    display: block;
    max-width: 100%;
}
.tojoin {
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: #f60;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
    line-height: 40px;
}
.last-wrap-list .per_indiana .name{
    width: 90%;
    margin: 0 auto;
}
.last-wrap-list .per_indiana img{
    padding: 0;
}
.list-num{
    width: 96%;
    margin: 0 auto;
}
.list-num-before{
   color: #f60;
}
.list-num-after{
    color: #2af;
}
.banner-product-list .lock{
    position: absolute;
    top: -8px;
    right: -3px;
    width: 16px;
    height: 16px;
}
.banner-product-list .full-num{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16px;
    font-size: 12px;
    color: #ff4400;
}
.result-search{
    position: absolute;
    bottom: 1%;
    width: 24%;
    right: 5%;
    height: 7%;
}
#result-time{
    position: absolute;
    bottom: 1%;
    left: 5%;
    color: #ff9292;
}
.result-list-left{
    float: left;
    width: 30%;
}
.result-list-left img{
    width: 100%;
    max-width: 100%;
    display: block;
        padding: 6px;
    box-sizing: border-box;
}
.result-list-right{
    float: left;
    width: 70%;
    padding-top: 6px;
        padding-right: 5px;
    box-sizing: border-box;
     padding-left: 10px;
}
.result-wrap ul li{
    list-style-type: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}
.result-wrap ul:last-child li{
    border-bottom: none;
}
.result-phase{
    padding: 5px 0;
    color: #989090;
    background-color: #fdebd5;
    padding-left: 8px;
}
.result-list-right .detail{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.result-list-right .user-detail{
    padding-top: 8px;
    color: #999;

}
.result-rule li{
    float: left;
    text-align: center;
    font-size: 12px;
    margin: 0 2px;
}
.result-rule li:last-child{
	clear:both;
	margin-left:54px;
	text-align: left;
}
.result-rule li:last-child span{
	display: block;
	margin-top: 10px;
}
/*.modal-body{padding: 15px 2px;}*/
.result-djs{
    margin-left: 15px;
    color: #f60;
}
.the-number{
    word-break: break-all;
}
.the-number span{
    padding-right: 10px;
}
.receive-btn{
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 97%;
    color: #72100a;
    font-weight: bold;
}
.coupon-total-num{
    font-size: 14px;
}
.coupon-price{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff1c7;
    font-size: 40px;
    width: 100%;
    text-align: center;
    line-height: 1em;
}
.coupon-price .yuan{
    font-size: 20px;
}
.need-number{
    position: absolute;
    top: 40%;
    left: 0;
    color: #fff;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.user-detail .question{
    color: #333;
    font-size: 28px;
    float: left;
    width: 50%;
}
.user-detail .user-detail-right{
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    padding-top: 8px;
    font-size: 19px;
    color: #333;
}
.user-detail .user-detail-right-2{
    float: right;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 19px;
    margin-top: -3px;
}
.user-detail .user-detail-right img{
    margin-top: -4px;
    vertical-align: middle;
    width: 20px;
}
.user-detail .user-detail-right-2 img{
    margin-top: -4px;
    vertical-align: middle;
    width: 20px;
}
.result-wrap .title-bg img{
    width: 100%;
    display: block;
    max-width: 100%;
}
.wish-number{
    color: #fff!important;
    background: #fe7001;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
	padding: 5px;
}
.banner-title{
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: #fe6f01;
    font-weight: bold;
}
.banner-title div{
    font-size: 16px;
    font-weight: 400;
}
.result-num,.younump{
    overflow: hidden;
}
.younump span{
    padding: 2px 10px;
    background-color: #f75858;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.result-num span{
    padding: 2px 10px;
    background-color: #f75858;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.recommand .last-wrap-list li{
    width: 96%;
    margin:0 auto;
    float: none;
    overflow: hidden;
    padding: 0;
}
.recommand-left{
    width: 40%;
    float: left;
}
.recommand-right{
    width: 60%;
    float: left;
    padding-top: 5%;
}
.gupiao{
	padding: 0 0 10px 0;
	border-bottom: solid 1px #eee;
	margin-bottom: 10px;
}
.gupiao img{
	width: 90%;
	max-height: 100px;
}
.result-modal .modal-body{
	overflow: hidden;
}
